.head{
  /* margin-top:200px;
  margin-bottom:auto; */
    font-family: fantasy;
  font-size: 50px;

}

body{
  text-align:center;
  /* background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H8WuRINimqur8ud/time-background-dark-blue-background-with-digital-clock_b72tac2__F0000.png'); */
  background-size: cover;
  color: rgb(204, 204, 204);
  font-family: monospace;
  font-size: 20px;
  
  background-color: rgb(36, 63, 54);


}
pitch-container{
  background-color: aquamarine;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}
hr{
  width:70%;
}