{% extends 'base.html'%}
<!-- {% import 'macros.html' as macro%} -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> THE PITCH MEDIA </title>
        {% endif %}

    </head>
  
    <body>
        {%block content%}
        {% for pitch in all_pitches%}

            <h2>{{pitch.user}}</h2>
            <h3>{{pitch.teaser}}</h3>
            <p>{{pitch.pitch}}</p>           
          
        
        {%endfor%}
        {%endblock%}
            
 
   
  

        <div class="container">
            <form>
                <input type="text" name="user" placeholder="Search for a Person" class="form-control">
                <input type="submit"  value="Submit" class="btn btn-default">
            </form>

        </div>

    
 
</body>
</html>