


  
  {% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      {% block styles%}
      {{ super() }}
      <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
      {% endblock %}
  </head>
  <body style="background-color: rgb(45, 109, 109);">
    <div class="pitch-container"> 
      <div class="row">
        <div class = "col-md-12">
          <div class="well" style="padding:20px;">
            
            {%block content%}
              {% for pitch in all_pitches%}
                <h2>Posted by {{pitch.user}}</h2>
                <h3>{{pitch.teaser}}</h3>
                <p >{{pitch.pitch}}</p>
                <h4>comments</h4>
                 {%for comment in pitch.comment%}
             
                 <p style="font-style:oblique;font-size: 18px;color:rgb(226, 188, 142)">{{comment.username}}  {{comment.comment}}</p>
                 
                
                 
                 {%endfor%}
                <a href ="comments/{{pitch.id}}"> Add Your Comment</a>  
                <hr>

              {%endfor%}
            {%endblock%}
            <hr>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>