


  
  {% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      {% block styles%}
      {{ super() }}
      <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
      {% endblock %}
  </head>
  <body>
    <div class="pitch-container"> 
      <div class="row">
        <div class="col-md-16">
          <div class="well">
            
            {%block content%}
              {% for pitch in all_pitches%}
                <h2>{{pitch.user}}</h2>
                <h3>{{pitch.teaser}}</h3>
                <p>{{pitch.pitch}}</p>
                <a href ="comments/{{pitch.id}}">Comment</a>  
              {%endfor%}
            {%endblock%}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>